binds {
    Mod+Return hotkey-overlay-title="Open a Terminal" { spawn-sh "ghostty +new-window"; }
    // Mod+Return hotkey-overlay-title="Open a Terminal" { spawn "alacritty"; }
    Mod+D hotkey-overlay-title="Application launcher" { spawn "fuzzel"; }
    Mod+E hotkey-overlay-title="Browse files" { spawn-sh "nautilus"; }
    Mod+A hotkey-overlay-title="Audioswitch" { spawn-sh "$HOME/.local/bin/audioswitch"; }
    Mod+P hotkey-overlay-title="Window picker" { spawn-sh "~/.local/bin/niri-windowpicker"; }
    Mod+Shift+P hotkey-overlay-title="Power menu" { spawn-sh "~/.local/bin/power"; }
    Mod+Shift+G hotkey-overlay-title="Clipboard" { spawn-sh "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"; }
}
