binds {
    Mod+Return hotkey-overlay-title="Open a Terminal" { spawn "ghostty"; }
    Mod+D hotkey-overlay-title="Application launcher" { spawn "fuzzel"; }
    Mod+E hotkey-overlay-title="Browse files" { spawn-sh "nautilus"; }
    Mod+A hotkey-overlay-title="Audioswitch" { spawn-sh "$HOME/.local/bin/audioswitch"; }
    Mod+P hotkey-overlay-title="Window picker" { spawn-sh "~/.local/bin/niri-windowpicker"; }
}
