binds {
    Mod+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    Mod+D hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Mod+E hotkey-overlay-title="Run an Application: Nautilus" { spawn "nautilus"; }
    Mod+A hotkey-overlay-title="Audioswitch" { spawn-sh "$HOME/.local/bin/audioswitch"; }
}
